* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	background-color: #ebebeb;
}
.navbar {
	height: 75px;
	width: 99%;
	background-color: white;
	display: flex;
	margin-top: 5px;
	margin-left: 5px;
	background-position: center;
	ul {
		li {
			list-style: none;
			display: inline-block;
			background-color: white;
			font-weight: bold;
			color: black;
			a {
				text-decoration: none;
				font-size: 14px;
				background-color: white;
				color: black;
				&:hover {
					background-color: #eee;
					color: black;
					border-radius: 20px;
					cursor: pointer;
					padding: 7px 10px 7px 10px;
				}
			}
		}
	}
}
.logo {
	display: flex;
	margin-left: 150px;
	height: 30px;
	width: 180px;
	margin-top: 25px;
	background-color: white;
}
.bar {
	width: 20%;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	color: black;
}
.button-left {
	&.active {
		background-color: #eee;
		color: black;
		border-radius: 20px;
		cursor: pointer;
		padding: 7px 10px 7px 10px;
	}
}
.Button {
	margin-left: 200px;
	margin-top: 25px;
	background-color: white;
	font-size: 14px;
	a {
		background-color: #72ac51;
		border-radius: 20px;
		border: none;
		color: #fff;
		padding: 6px 17px 6px 17px;
		text-decoration: none;
		&:hover {
			background-color: darkgreen;
			border-radius: 20px;
			border: none;
			color: #fff;
			padding: 6px 17px 6px 17px;
		}
	}
}
.Button1 {
	margin-left: 25px;
	margin-top: 25px;
	background-color: white;
	font-size: 14px;
	a {
		background-color: #72ac51;
		border-radius: 20px;
		border: none;
		color: #fff;
		padding: 6px 17px 6px 17px;
		text-decoration: none;
		&:hover {
			background-color: darkgreen;
			border-radius: 20px;
			border: none;
			color: #fff;
			padding: 6px 17px 6px 17px;
		}
	}
}
.Button-Left {
	&.active {
		background-color: darkgreen;
	}
}
.page-content {
	width: 1140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 40px;
	display: flex;
	.left-panel {
		width: 33.33%;
		padding-right: 30px;
	}
	.right-panel {
		width: 50%;
	}
	h1 {
		font-size: 36px;
		font-weight: 200;
		margin-top: 20px;
		color: #565656;
	}
}
.flex-container {
	display: flex;
	justify-content: center;
}
.card1 {
	background-color: white;
	width: 230px;
	height: 150px;
	flex-direction: column;
	font-size: 18px;
	font-weight: bold;
	a {
		background-color: white;
		color: black;
		display: block;
		display: flex;
		padding: 15px;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			background-color: darkgreen;
			color: #fff;
		}
	}
}
.button-right {
	&.active {
		background-color: #72ac51;
		color: #fff;
	}
}
.container1 {
	display: flex;
	justify-content: center;
	height: 200px;
	margin-left: 300px;
}
.card {
	background-color: white;
	margin: 20px;
	width: 350px;
	h2 {
		padding: 10px;
		background-color: white;
		font-size: 20px;
		margin-top: 10px;
		margin-left: 10px;
	}
	p {
		padding: 20px;
		background-color: white;
		font-size: 14px;
		font-weight: 600;
		font-family: 'Open Sans', serif;
		color: #565656;
	}
}
.card-image {
	background-color: white;
	height: 130px;
}
.card2 {
	background-color: white;
	margin: 20px;
	width: 570px;
	height: 370px;
	margin-top: 30px;
	margin-left: 340px;
	p {
		padding-left: 60px;
		padding-top: 67px;
		font-size: 32px;
		background-color: white;
		font-weight: 400;
		color: #565656;
	}
	input {
		font-size: 16px;
		width: 70%;
		padding: 13px 18px;
		margin-left: 60px;
		margin-top: 20px;
		border-radius: 5px;
		background-color: white;
		border-color: #ebebeb;
		outline: none;
		&:focus {
			&:valid {
				border-color: green;
			}
			&:invalid {
				border-color: red;
			}
		}
	}
	
}
button {
	font-size: 14px;
	width: 75%;
	padding: 10px 10px;
	margin-left: 60px;
	margin-top: 20px;
	border-radius: 25px;
	background-color: #72ac51;
	color: white;
	border: none;
	cursor: pointer;
}
