body {
	font-family: "Open Sans", sans-serif;
	background-color: #ebebeb;
}
a {
	text-decoration: inherit;
	color: inherit;
}
.logo {
	align-items: center;
	height: 30px;
	width: 180px;
	margin-top: 20px;
	margin-left: 50px;
}
.menu {
	height: 75px;
	background-color: white;
	margin-top: 8px;
	margin-left: 5px;
	margin-right: 5px;
}
.container {
	display: flex;
	justify-content: space-between;
	width: 1070px;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
}
.header-left {
	align-items: center;
	margin-top: 20px;
	margin-right: 250px;
}
.header-right {
	align-items: center;
	margin-top: 20px;
	margin-right: 80px;
}
.button-left {
	font-size: 14px;
	color: black;
	border: none;
	border-radius: 20px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	font-weight: 600;
	margin-right: 4px;
	&:hover {
		background-color: #eee;
	}
	&.active {
		background-color: #eee;
	}
}
.button-right {
	font-size: 14px;
	color: white;
	border: none;
	border-radius: 25px;
	padding-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-bottom: 10px;
	background-color: green;
	margin-left: 20px;
	&:hover {
		background-color: #47752d;
	}
	&.active {
		background-color: #47752d;
	}
}
.page-content {
	width: 1140px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	display: flex;
	.left-panel {
		width: 35%;
		padding-right: 10px;
	}
	.right-panel {
		width: 65%;
	}
	h1 {
		font-size: 36px;
		font-weight: 200;
		margin-top: 20px;
		color: #565656;
		margin-left: 0px;
	}
}
.flex-container {
	display: flex;
	justify-content: center;
}
.card1 {
	background-color: white;
	width: 230px;
	height: 170px;
	flex-direction: column;
	font-size: 18px;
	font-weight: bold;
	a {
		background-color: white;
		color: black;
		display: block;
		display: flex;
		padding: 20px;
		text-decoration: none;
		font-weight: bold;
		&:hover {
			background-color: darkgreen;
			color: #fff;
		}
	}
}
.button-right1 {
	&.active {
		background-color: #72ac51;
		color: #fff;
	}
}
.container1 {
	display: flex;
	justify-content: center;
	height: 180px;
	margin-left: 120px;
}
.card {
	background-color: white;
	margin: 20px;
	width: 350px;
	h2 {
		padding: 10px;
		background-color: white;
		font-size: 20px;
		margin-top: 15px;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	p {
		padding: 10px;
		background-color: white;
		margin-left: 15px;
		margin-top: 5px;
		margin-bottom: 10px;
		font-size: 14px;
		font-weight: 600;
		font-family: "Open Sans", serif;
		color: #565656;
	}
}
.card-image {
	background-color: white;
	height: 130px;
}

.card3 {
	width: 570px;
	height: 380px;
	background-color: white;
	margin-left: 370px;
	margin-top: 30px;
}
.contentlogin {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
	background-color: #ebebeb;
}
.card3-item1cont1 {
	padding-top: 67px;
	padding-left: 60px;
	font-size: 32px;
}
.item1 {
	padding-left: 20px;
	margin-left: 60px;
	margin-top: 12px;
	font-size: 16px;
	width: 450px;
	height: 45px;
	border-color: #eee;
	border-radius: 5px;
}
.item2 {
	padding-left: 20px;
	margin-top: 20px;
	margin-left: 60px;
	font-size: 16px;
	width: 450px;
	height: 45px;
	border-color: #eee;
	border-radius: 5px;
}
.submit {
	margin-top: 20px;
	padding-left: 20px;
	font-size: 14px;
	width: 470px;
	height: 42px;
	margin-bottom: 60px;
	margin-left: 60px;
	border-radius: 25px;
	background-color: #72ac51;
	border: none;
	color: white;
	font-weight: 400;
	cursor: pointer;
}
input {
	&:focus {
		&:valid {
			border-color: green;
			outline: none;
		}
		&:invalid {
			border-color: red;
			outline: none;
		}
	}
}
